@model MusicStoreWeb.Models.SongsListViewModel

@{
    ViewBag.Title = "Songs";

}
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"
          type="text/css" />
</head>

<img src="~/Content/home-showcase.png">

<ul id="album-list">
    @foreach (var p in Model.Songs)
    {
        <li>

            @Html.Partial("Details", p)


        </li>
    }
</ul>




    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
    </div>
