@model MusicStoreWeb.Models.SongsListViewModel

@{
    ViewBag.Title = "Songs";

}

@foreach (var s in Model.Songs)
{
    <div>
        <h3>@s.Name</h3>
        @s.Author
        <h4>@s.Price.ToString("c")</h4>

    </div>

}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
