@using MusicStore.Domain.Entities
@model List<Song>
@{
    ViewBag.Title = "Songs";
    
}
<p>out of for loop</p>

@foreach (var s in Model)
{
    <div>
        <h3>@s.Name</h3>
            @s.Author
        <h4>@s.Price.ToString("c")</h4>
        
    </div>

}
<p>end of loop</p>