@model MusicStoreWeb.Models.SongsListViewModel

@{
    ViewBag.Title = "Songs";

}
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"
          type="text/css" />
</head>

<img src="~/Content/home-showcase.png">

<ul id="album-list">
    @foreach (var p in Model.Songs)
    {
        <li>

            @Html.Partial("Details", p)


        </li>
    }
</ul>




<div class="btn-group pull-right">
    @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
    {
        if (i == Model.PagingInfo.CurrentPage)
        {
            <a href="/@Model.CurrentCategory/@i" class="selected btn btn-primary">@i</a>
        }
        else
        {
            <a href="/@Model.CurrentCategory/@i" class="btn btn-default">@i</a>
        }

    }
</div>
