@using MusicStore.Domain.Entities
@model IEnumerable<Song>
@{
    ViewBag.Title = "Songs";
}
@foreach (var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        <h4>@p.Price.ToString("c")</h4>
    </div>
}