@model List<GenreMenuItemModel>
    @using MusicStoreWeb.Models
@{
    bool horizontal = ((bool)(ViewContext.RouteData.Values["horizontalLayout"] ?? false));
    string wrapperClasses = horizontal ? "btn-group btn-group-sm btn-group-justified" : null;
}

    <div role="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            

                

                @foreach (var link in Model)
                {
                    
                    <li>
                        @Html.RouteLink(link.Name, new
                                    {
                                        controller = "Music",
                                    action = "List",
                                    category = link.Id,
                                    page = 1
                                    }, new
                                    {
                                    @class = (link.Id.ToString() == ViewBag.SelectedCategory)
                                    })
                    </li>
                    
                
                
                }
                     

            </ul>
</div>
