<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
Figure 7-5. Adding the Views/Product/List.cshtml view
Chapter 7 ■ SportsStore: A Real Application
166
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>