
<h2>Final steps!</h2>


@Html.ActionLink("Edit shipping details", "editShipping", null, new
            {
            @class = "btn btn-default"
            })

<div class="text-center">
    <input class="btn btn-primary" type="submit" value="Complete order" />
</div>
