@model MusicStoreWeb.Models.CartIndexViewModel
@{
    ViewBag.Title = "Music Store: Your Cart";


}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>



<h2>Your cart</h2>
<div id="Info">

    @Html.Partial("~/Views/Cart/Recipt.cshtml", Model)

</div>

<div class="text-center">
    @Html.ActionLink("Home", "List", "Music", null, new { @class = "btn btn-primary" })

    @Html.ActionLink("Checkout now", "detailExists", null, new { @class = "btn btn-primary" })
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-3.6.1.min.js"></script>